<a href="https://colab.research.google.com/github/Denise143/W3-IPS/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Denise_Mbugua_PythonAnalysisData_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **ANALYSIS FOR MTN COTE D'IVOIRE**

# Importing the libraries

In [2]:
#Importing the pandas and numpy libraries which will help in amnipulating the data
import pandas as pd
import numpy as np

# Loading Our Tables

In [5]:
# We load the Telcom table by using the inbuilt fuction 'pd.read_csv' because it is a csv file
# Some columns have to be renamed to match the other datasets to make merging easier
# The head() is used to display on the five top rows

Telcom1 = pd.read_csv('Telcom_dataset.csv')
Telcom1.rename({'PRODUTC': 'PRODUCT'},axis=1, inplace=True)
Telcom1.head()

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [6]:
# We load the table and rename columns to match the other datasets
# to display data we have to call on the dataframe

Telcom2 = pd.read_csv('Telcom_dataset2.csv')
Telcom2.rename({'DW_A_NUMBER': 'DW_A_NUMBER_INT', 'DW_B_NUMBER': 'DW_B_NUMBER_INT', 'DATE_TIME': 'DATETIME'},axis=1, inplace=True)
Telcom2

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [7]:
# The tail() function is used to display the bottom rows
Telcom3 = pd.read_csv('Telcom_dataset3.csv')
Telcom3.rename({'DATE_TIME': 'DATETIME', 'CELLID': 'CELL_ID', 'SIET_ID': 'SITE_ID'},axis=1, inplace=True)
Telcom3.tail(15)

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
4986     sms     25  2012-05-09 00:01:43.0  ...     19e2e  878554a5dd  eaa695cbb8
4987   Voice    102  2012-05-09 00:01:43.0  ...     19e2e  d5bdd4f4cb  cdf82e4fe3
4988   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  ef7e987044  2ec4b9824b
4989   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  63cb899693  3e46cdd0e8
4990   Voice      1  2012-05-09 00:01:43.0  ...     19e2e  425d28ede5  5f6100dbe1
4991   Voice     28  2012-05-09 00:01:43.0  ...     19e2e  12b9783462  d7a531cfa8
4992   Voice    236  2012-05-09 00:01:43.0  ...     19e2e  26c3cc23da  d2de5847b1
4993   Voice    219  2012-05-09 00:01:43.0  ...     19e2e  34f124cb0d  73dd78713b
4994   Voice     17  2012-05-09 00:01:43.0  ...     19e2e  1ba612f62c  25250f86a1
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15 rows x 10 columns]

In [43]:
# This dataset contains the regions that the cellphones were used

Geography = pd.read_csv('cells_geo.csv', delimiter=";")
Geography.rename({'SITE_CODE': 'SITE_ID'}, axis=1, inplace=True)
Geography['SITE_ID'].fillna('DGBD76')
Geography

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID     SITE_ID
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [9]:
table_description = pd.read_excel('cells_geo_description.xlsx')
table_description

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

# Merging and Cleaning

In [58]:
# Merging helps give an overview of all the tables.
Frames = [Telcom1, Telcom2, Telcom3]

all_df = pd.concat((Frames), ignore_index=True)

all_df

      PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0       Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...  ...       ...         ...         ...
14998   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
14999   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
15000   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
15001   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
15002   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [59]:
# Checking to see whether there are duplicated rows
# The result gives a boolean result of which rows have duplicates
all_df.duplicated()

#Dropping the duplicates
all_df.drop_duplicates()

      PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0       Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...  ...       ...         ...         ...
14997   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
14998   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
14999   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
15001   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
15002   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[14750 rows x 10 columns]

In [60]:
#Dropping columns that are not useful
all_df.drop(['CELL_ON_SITE', 'COUNTRY_A', 'COUNTRY_B', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT'], axis=1, inplace=True )
all_df

      PRODUCT  VALUE               DATETIME     CELL_ID     SITE_ID
0       Voice      0  2012-05-06 23:04:37.0  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...         ...         ...
14998   Voice      0  2012-05-09 00:01:43.0  2aa04dcab7  f7d63a29e5
14999   Voice     62  2012-05-09 00:01:43.0  7f1f2f889f  b4ddb9e93c
15000   Voice     32  2012-05-09 00:01:43.0  a4731e780e  d68260ef50
15001   Voice     30  2012-05-09 00:01:43.0  98ed726da2  b4130b54ab
15002   Voice     60  2012-05-09 00:01:43.0  1c11a2fcbb  6d70dae094

[15003 rows x 5 columns]

In [63]:
#Merging geography with all_df
Geo_all = all_df.merge(Geography, on='SITE_ID', how='outer')
New_all = Geo_all.dropna(thresh=15)
New_all

      PRODUCT  VALUE  ...           AREA   CELL_ID_y
1843      sms    0.0  ...   CENTRE NORTH  24ccdda3d5
1844      sms    0.0  ...   CENTRE NORTH  ebfc58af70
1845      sms    0.0  ...   CENTRE NORTH  ba8ce6e4ef
1846      sms    0.0  ...   CENTRE NORTH  c2545171dc
1847      sms    0.0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
55911   Voice   17.0  ...  ABIDJAN NORTH  c179f33d5e
55912   Voice   17.0  ...  ABIDJAN NORTH  0a3f751619
55913     sms    0.0  ...   CENTRE NORTH  0427a26d34
55914     sms    0.0  ...   CENTRE NORTH  7c72293cf2
55915     sms    0.0  ...   CENTRE NORTH  be18b5b981

[51325 rows x 16 columns]

In [65]:
# Dropping duplicates
New_all.duplicated()
New_all.drop_duplicates()

      PRODUCT  VALUE  ...           AREA   CELL_ID_y
1843      sms    0.0  ...   CENTRE NORTH  24ccdda3d5
1844      sms    0.0  ...   CENTRE NORTH  ebfc58af70
1845      sms    0.0  ...   CENTRE NORTH  ba8ce6e4ef
1846      sms    0.0  ...   CENTRE NORTH  c2545171dc
1847      sms    0.0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
55911   Voice   17.0  ...  ABIDJAN NORTH  c179f33d5e
55912   Voice   17.0  ...  ABIDJAN NORTH  0a3f751619
55913     sms    0.0  ...   CENTRE NORTH  0427a26d34
55914     sms    0.0  ...   CENTRE NORTH  7c72293cf2
55915     sms    0.0  ...   CENTRE NORTH  be18b5b981

[50082 rows x 16 columns]

In [76]:
df = New_all[New_all['VALUE']>0]
df

      PRODUCT  VALUE  ...           AREA   CELL_ID_y
1849    Voice   92.0  ...   CENTRE NORTH  24ccdda3d5
1850    Voice   92.0  ...   CENTRE NORTH  ebfc58af70
1851    Voice   92.0  ...   CENTRE NORTH  ba8ce6e4ef
1852    Voice   92.0  ...   CENTRE NORTH  c2545171dc
1853    Voice   92.0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
55908   Voice   47.0  ...   CENTRE NORTH  8af3936d2c
55909   Voice   47.0  ...   CENTRE NORTH  87433c1bcc
55910   Voice   47.0  ...   CENTRE NORTH  fdd383c490
55911   Voice   17.0  ...  ABIDJAN NORTH  c179f33d5e
55912   Voice   17.0  ...  ABIDJAN NORTH  0a3f751619

[25596 rows x 16 columns]

# Data Analysis

## Question One, Two and Three

In [88]:
#Which ones were the most used city for the three days?
# Looks like COCODY, YPOUGON and ABOBO
grouped = New_all.groupby(['VILLES', 'PRODUCT', 'LOCALISATION'])['VALUE'].sum().sort_values(ascending=False)
grouped

VILLES       PRODUCT  LOCALISATION
COCODY       Voice    ABIDJAN         170448.0
YOPOUGON     Voice    ABIDJAN         166367.0
ABOBO        Voice    ABIDJAN          95494.0
TREICHVILLE  Voice    ABIDJAN          60928.0
KOUMASSI     Voice    ABIDJAN          55805.0
                                        ...
TAI          sms      INTERIEUR            0.0
FRONAN       sms      INTERIEUR            0.0
OUNADIEKAHA  sms      INTERIEUR            0.0
TALA         sms      INTERIEUR            0.0
GOULIA       sms      INTERIEUR            0.0
Name: VALUE, Length: 602, dtype: float64

In [99]:
ZONE = New_all.groupby(['REGION'])['VALUE'].sum().sort_values(ascending=False)
ZONE

REGION
LAGUNE               929503.0
BAS SASSANDRA         68539.0
LACS                  55776.0
HAUT SASSANDRA        53170.0
VALLEE DU BANDAMA     45258.0
SUD BANDAMA           37784.0
NZI COMOE             30945.0
FROMAGER              30786.0
18 MONTAGNES          30582.0
SAVANE                27882.0
WORODOUGOU            22326.0
MOYEN CAVALLY         19953.0
MARAHOUE              17070.0
ZANZAN                14622.0
AGNEBY                13750.0
SUD COMOE             13171.0
DENGUELE              13005.0
MOYEN COMOE           12909.0
BAFING                 3561.0
Name: VALUE, dtype: float64

## Additional

In [79]:
# Displaying two columns
New_all.groupby(['LOCALISATION'])['VILLES'].unique()

LOCALISATION
ABIDJAN      [PLATEAU, YOPOUGON, ABOBO, MARCORY, KOUMASSI, ...
INTERIEUR    [BOUAKE, KORHOGO, YAMOUSSOUKRO, ISSIA, MAN, KO...
Name: VILLES, dtype: object

In [80]:
# Sum of the 'value' to know which is used most
all_df.groupby(['PRODUCT'])['VALUE'].sum()

PRODUCT
Voice    312593
data      17287
sms       53427
Name: VALUE, dtype: int64

In [81]:
# Description of the value column in the dataframe that has everything
New_all['VALUE'].describe()

count    51325.000000
mean        28.068037
std        112.093931
min          0.000000
25%          0.000000
50%          0.000000
75%         25.000000
max       6750.000000
Name: VALUE, dtype: float64

In [82]:
# MAthematical description of the column value in the three days
all_df['VALUE'].describe()

count    15003.000000
mean        25.548690
std        152.916219
min          0.000000
25%          0.000000
50%          0.000000
75%         25.000000
max      12900.000000
Name: VALUE, dtype: float64

In [83]:
# To get variance
all_df['VALUE'].var

<bound method Series.var of 0         0
1         0
2        25
3        56
4        14
         ..
14998     0
14999    62
15000    32
15001    30
15002    60
Name: VALUE, Length: 15003, dtype: int64>

In [84]:
# Correlation
all_df.corr

<bound method DataFrame.corr of       PRODUCT  VALUE               DATETIME     CELL_ID     SITE_ID
0       Voice      0  2012-05-06 23:04:37.0  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...         ...         ...
14998   Voice      0  2012-05-09 00:01:43.0  2aa04dcab7  f7d63a29e5
14999   Voice     62  2012-05-09 00:01:43.0  7f1f2f889f  b4ddb9e93c
15000   Voice     32  2012-05-09 00:01:43.0  a4731e780e  d68260ef50
15001   Voice     30  2012-05-09 00:01:43.0  98ed726da2  b4130b54ab
15002   Voice     60  2012-05-09 00:01:43.0  1c11a2fcbb  6d70dae094

[15003 rows x 5 columns]>

In [85]:
# Correlation
New_all.corr

<bound method DataFrame.corr of       PRODUCT  VALUE  ...           AREA   CELL_ID_y
1843      sms    0.0  ...   CENTRE NORTH  24ccdda3d5
1844      sms    0.0  ...   CENTRE NORTH  ebfc58af70
1845      sms    0.0  ...   CENTRE NORTH  ba8ce6e4ef
1846      sms    0.0  ...   CENTRE NORTH  c2545171dc
1847      sms    0.0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
55911   Voice   17.0  ...  ABIDJAN NORTH  c179f33d5e
55912   Voice   17.0  ...  ABIDJAN NORTH  0a3f751619
55913     sms    0.0  ...   CENTRE NORTH  0427a26d34
55914     sms    0.0  ...   CENTRE NORTH  7c72293cf2
55915     sms    0.0  ...   CENTRE NORTH  be18b5b981

[51325 rows x 16 columns]>